USE [master]
GO
/****** Object:  Database [RestaurantDB]    Script Date: 02.04.2022 23:31:37 ******/
CREATE DATABASE [RestaurantDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurantDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RestaurantDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RestaurantDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\RestaurantDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantDB]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 02.04.2022 23:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NULL,
	[IDRest] [int] NULL,
	[CountPeople] [int] NULL,
	[DateTime] [datetime] NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitchenType]    Script Date: 02.04.2022 23:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitchenType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
 CONSTRAINT [PK_KitchenType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ownership]    Script Date: 02.04.2022 23:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ownership](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDUser] [int] NULL,
	[IDRest] [int] NULL,
 CONSTRAINT [PK_Ownership] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restourant]    Script Date: 02.04.2022 23:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restourant](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Description] [varchar](max) NULL,
	[Address] [varchar](80) NULL,
	[PlaceCount] [int] NULL,
	[Image] [varchar](max) NULL,
	[ContactPhone] [varchar](15) NULL,
	[HaveTeracce] [bit] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[HotWords] [varchar](max) NULL,
	[AVGPrice] [money] NULL,
 CONSTRAINT [PK_Restourant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restournat_Kitchen]    Script Date: 02.04.2022 23:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restournat_Kitchen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDRest] [int] NULL,
	[IDKitchen] [int] NULL,
 CONSTRAINT [PK_Restournat_Kitchen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 02.04.2022 23:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02.04.2022 23:31:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Password] [varchar](25) NULL,
	[IDRole] [int] NULL,
	[Name] [varchar](35) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([ID], [IDUser], [IDRest], [CountPeople], [DateTime]) VALUES (1, 1, 2, 4, CAST(N'2022-04-05T12:00:00.000' AS DateTime))
INSERT [dbo].[Booking] ([ID], [IDUser], [IDRest], [CountPeople], [DateTime]) VALUES (2, 1, 1, 1, CAST(N'2022-04-10T20:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[KitchenType] ON 

INSERT [dbo].[KitchenType] ([ID], [Name]) VALUES (1, N'Грузинская')
INSERT [dbo].[KitchenType] ([ID], [Name]) VALUES (2, N'Мексиканская')
INSERT [dbo].[KitchenType] ([ID], [Name]) VALUES (3, N'Русская')
SET IDENTITY_INSERT [dbo].[KitchenType] OFF
GO
SET IDENTITY_INSERT [dbo].[Ownership] ON 

INSERT [dbo].[Ownership] ([ID], [IDUser], [IDRest]) VALUES (1, 2, 1)
INSERT [dbo].[Ownership] ([ID], [IDUser], [IDRest]) VALUES (2, 2, 2)
SET IDENTITY_INSERT [dbo].[Ownership] OFF
GO
SET IDENTITY_INSERT [dbo].[Restourant] ON 

INSERT [dbo].[Restourant] ([ID], [Name], [Description], [Address], [PlaceCount], [Image], [ContactPhone], [HaveTeracce], [StartTime], [EndTime], [HotWords], [AVGPrice]) VALUES (1, N'У Олега', N'Одно из лучших заведений в городе - ресторан "У Олега" на Павелецкой. Здесь царит прекрасная атмосфера, идеально подходящая для веселых встреч с друзьями, теплых семейных обедов и ужинов, а также для романтического свидания со своей второй половинкой.', N'ул. Павлецкая 12', 50, NULL, N'+79884730612', 0, CAST(N'10:00:00' AS Time), CAST(N'22:00:00' AS Time), N'олег, У Олега, павлецкая', 2500.0000)
SET IDENTITY_INSERT [dbo].[Restourant] OFF
GO
SET IDENTITY_INSERT [dbo].[Restournat_Kitchen] ON 

INSERT [dbo].[Restournat_Kitchen] ([ID], [IDRest], [IDKitchen]) VALUES (1, 1, 1)
INSERT [dbo].[Restournat_Kitchen] ([ID], [IDRest], [IDKitchen]) VALUES (2, 2, 2)
INSERT [dbo].[Restournat_Kitchen] ([ID], [IDRest], [IDKitchen]) VALUES (3, 2, 5)
SET IDENTITY_INSERT [dbo].[Restournat_Kitchen] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Client')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Creator')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Phone], [Password], [IDRole], [Name]) VALUES (1, N'+79655889055', N'Passw0rd322', 1, N'Александр')
INSERT [dbo].[User] ([ID], [Phone], [Password], [IDRole], [Name]) VALUES (2, N'+79907663542', N'Coolboy321', 2, N'Олег')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Restourant] FOREIGN KEY([IDRest])
REFERENCES [dbo].[Restourant] ([ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Restourant]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([IDUser])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_Restourant] FOREIGN KEY([IDRest])
REFERENCES [dbo].[Restourant] ([ID])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_Restourant]
GO
ALTER TABLE [dbo].[Ownership]  WITH CHECK ADD  CONSTRAINT [FK_Ownership_User] FOREIGN KEY([IDUser])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Ownership] CHECK CONSTRAINT [FK_Ownership_User]
GO
ALTER TABLE [dbo].[Restournat_Kitchen]  WITH CHECK ADD  CONSTRAINT [FK_Restournat_Kitchen_KitchenType] FOREIGN KEY([IDKitchen])
REFERENCES [dbo].[KitchenType] ([ID])
GO
ALTER TABLE [dbo].[Restournat_Kitchen] CHECK CONSTRAINT [FK_Restournat_Kitchen_KitchenType]
GO
ALTER TABLE [dbo].[Restournat_Kitchen]  WITH CHECK ADD  CONSTRAINT [FK_Restournat_Kitchen_Restourant] FOREIGN KEY([IDRest])
REFERENCES [dbo].[Restourant] ([ID])
GO
ALTER TABLE [dbo].[Restournat_Kitchen] CHECK CONSTRAINT [FK_Restournat_Kitchen_Restourant]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IDRole])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
